
.container{
    width: 1170px;
}

.header-top{
    text-align: center;
    background: #272f54;
    height: 100px;
    width: 1170px;
}

.main-menu{
    background: #272f54;
    margin-top:5px;
    
}


.banner-img{
    height: 265px;
    width: 100%;
    
}

.new{
    border: 1px solid #ccc;
    padding: 15px 35px 0px 35px;
    height: 100%;
}
.row{
    margin-bottom: 20px;
}
.content h3{
    font-size: 20px;
    color:#810303;
    margin: 15px 0;
}
footer{
    text-align: center;
    background: #272f54;
    padding: 15px;
    height: 50px;
}
.coppyright{
    color: #ccc;
}